# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch / Models
*.pt
*.pth
*.pkl
models/
data/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Python scripts in the notebooks folder
notebooks/*.py

# VS Code / IDEs
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints
